.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.game-card {
  min-height: 400px; 
  max-height: 100vh;
  width: 600px;
  margin-bottom: auto; 
  margin-top: auto;
}

.game-column {
  display: flex;
   align-content: center;
   min-height: 100vh;
}

.white{
  color: white;
}

.game-control{
  display: flex;
  flex-direction: column;
}

.game-control .item{
  height: 120px;
}

.auto-margin{
  margin: auto;
}