.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.game-card {
  min-height: 400px; 
  max-height: 100vh;
  width: 600px;
  margin-bottom: auto; 
  margin-top: auto;
}

.game-column {
  display: flex;
   align-content: center;
   min-height: 100vh;
}

.game-title{
  color: white;
  text-align: center;
  padding-top: 30px;
}

.game-control{
  display: flex;
  flex-direction: column;
}

.game-control .item{
  height: 120px;
}

.game-control .item:not(:last-child){
  margin-bottom: 3px;
}

.game-screen{
  width: 100%;
}
.game-screen .item{
  height: 180px;
}
.game-screen .item:nth-child(1){
  margin-bottom: 10px;
}
.item{
  border: dashed 1px ;
}

.auto-margin{
  margin: auto;
}